<h1><%= @user.name %>のページ</h1>
<div class='container'>
  <div class="wrappaer col-md-8 col-md-offset-2 col-sm-10">
    <h1>あなたのお気に入り一覧</h1>
      <section class="main-header">
        <% if @favorite_blogs.present? %>
            <% @favorite_blogs.each do |t| %>
              <div class="box30">
                <p><h2><%= t.content %></h2></p>
                <%= image_tag(t.image, :class => "image_content center-block")%>
              </div>
            <% end %>
        <% end %>
      </section>
  </div>
</div>
